name: Build & Test with Coverage

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - run: mvn clean test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
